
.cx-sidemenu {
	display: flex;
	min-height: 100vh;
	;float: left;
}

.cx-sidemenu-level0 {
	background-color: #22252E;
}

.cx-sidemenu-level1 {
	background-color: #38384A;
}

.cx-sidemenu-item {
	display: flex;
	justify-content: center;
	min-height: calc(6.2em * var(--cx-sidemenu-scale));
	list-style: none;
	align-items: center;
	text-align: center;
  	padding: 5px 3px;
	cursor: pointer;
	transition: all ease-out 120ms;
	font-family: sans-serif;
	line-height: 1;
}

.cx-sidemenu-item a:hover {
}

.cx-sidemenu-item:hover {
	background-color: #38384A;
}

.cx-sidemenu-item-selected a {
	color: white;
}

.cx-sidemenu-item-selected {
	background-color: #38384A;
}

.cx-sidemenu-item-unselected a {
	color: #00ff00;
}

.cx-sidemenu-item a {
	display: flex;
	flex-direction: column;
	text-decoration: none;
}

.cx-sidemenu-item i {
	font-size: calc(3em * var(--cx-sidemenu-scale));
	margin-bottom: 5px;
}

.cx-sidemenu-title {
	display: block;
	font-size: calc(1em * var(--cx-sidemenu-scale));
	margin-bottom: 5px;
}

